.density-container {
    background-color: var(--bg-main);
    border-radius: 16px;
    margin-top: 30px;
}

.density {
    display: flex;
    color: var(--text-main);
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.3rem;
}

.mas-menos {
    background: none;
    border: none;
    color: var(--text-main);
    cursor: pointer;
    margin-bottom: 25px;
}


.letter-row {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}


.letter {
    width: 25px;
    color: var(--text-secondary);
    font-weight: lighter;
}


.progress {
    flex: 1;
    height: 14px;
}


meter::-webkit-meter-bar {
    background: var(--border-subtle);
    border-radius: 20px;
}


meter::-webkit-meter-optimum-value {
    background: var(--progress-bar);
    border-radius: 20px;
}


.percentage {
    width: 100px;
    text-align: right;
    color: var(--text-secondary);
}